*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    height: 100%;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    text-align: center;
    font-size: 30px;
    background: linear-gradient(90deg, rgba(126, 37, 37, 1) 0%, rgba(233, 168, 131, 1) 11%, rgba(182, 175, 65, 1) 23%, rgba(87, 157, 56, 1) 33%, rgba(68, 156, 173, 1) 45%, rgba(46, 92, 156, 1) 57%, rgba(82, 62, 162, 1) 70%, rgba(165, 54, 168, 1) 81%, rgba(179, 17, 77, 1) 91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#content{
    width: 100%;
}

#content-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left;
    width: 20%;
    text-align: center;
    font-size: 40px;
    position: absolute;
    left: 150px;
    top: 200px;
    color: white;



}
#content-right{
    float: right;
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: absolute;
    top: 200px;
    left: 1400px;
}


#dragonball{
    height:300px;
}

#reset{
    width: 60px;
    position: absolute;
    left: 170px;
    top: 600px;
    border: solid 2px black;
}

#multiply, #imageTwo{
    width: 100px;
    height: 100px;
}

h4{
    color: whitesmoke;
    font-size: 40px;
    text-align: center;

}

#imageThree{
    width: 150px;
    height: 150px;
}

p{
    color: white;
    text-align: center;

}

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }

    30% { transform: translate(3px, 2px) rotate(0deg); }


    60% { transform: translate(-3px, 1px) rotate(0deg); }

    80% { transform: translate(-1px, -1px) rotate(1deg); }

    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#content-right-structure{
    display: flex;
}

p{
    font-size: 30px;
    text-align: center;
}

#buy{
    width: 80px;
    border: solid 2px black;
    position: absolute;
    top: 600px;
    right: 200px;
}